@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;}


body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2),
  -5px 0 5px rgba(0, 0, 0, 0.2);
}

/* Шапка */

.head-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
  height: 64px;
  flex-wrap: nowrap;
  width: 1060px;
  justify-content: flex-start;
}

.logo-link {}

.logo-pic {
  display: flex;
  width: 140px;
  height: 70px;
  margin: 0;
  margin-left: 70px;
  position: relative;
  z-index: 20;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: flex;
}

.favorit {}

.search {}

.menu-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #756157;
  padding: 8px;
  margin: 0;
  margin-right: 70px;
}

/* Основной раздел */

.main-index {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  flex: 1 0 auto;
}

.hero-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.welcome {
  display: flex;
  width: 1200px;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  padding: 50px 0 107px 0;
  margin: 0 auto;
  background-color: #b3b3b3;
  position: relative;
  flex-wrap: wrap;
}

.welcome:after {
  display: block;
  content: "";
  background-image: url(../images/divider.png);
  width: 1200px;
  height: 57px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.hero-pic {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.advantages-head,
.description-head {
  display: flex;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 69px 290px 25px 290px;

}

.advantages-head-text,
.description-head-text,
.booking-text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 0 40px;
}

.item-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin-right: 40px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.advantages-item {
  min-height: 385px;
  justify-content: center;
  align-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 0px 85px 0px 85px;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:first-child {
  grid-column: 1 / 4;
  background-color: #82B3D3;
  color: #ffffff;
  min-height: 385px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item:last-child {
  grid-column: 1 / 4;
  background-color: #82B3D3;
  color: #ffffff;
  min-height: 385px;
  flex-direction: row-reverse;
  margin: 0 auto;
  padding: 0;
}

.advantages-item-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-container {
  padding: 0px 85px 0px 85px;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-pic {
  display: block;
  margin: 0;
  min-width: 800px;
}

.advantages-pic-settings {
  width: 100%;
  height: 100%;
}

.description {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.description-head {}

.description-head-text {}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.description-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0 auto;
  margin-right: 40px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.description-item {
  min-height: 385px;
  margin: 0 auto;
  padding: 100px 80px 0 80px;
  box-sizing: border-box;
}

.background-house {
  background-image: url(../images/icons/icon-house.svg);
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  margin: 0;
}

.background-burger {
  background-image: url(../images/icons/icon-burger.svg);
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  margin: 0;
}

.background-gift {
  background-image: url(../images/icons/icon-gift.svg);
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  margin: 0;
}

.description-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-item-head {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

.description-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.booking {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 81px 290px 81px 290px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.booking-head {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.booking-text {
  max-width: 592px;
  margin: 50px auto;
  text-align: center;
}

.search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 376px;
  min-height: 52px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #756157;
  margin: 0;
}

/* Подвал */

.footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1200px;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.subscribe {
  display: flex;
  width: 100%;
  background-color: #756157;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.subscribe-container {
  margin: 0 auto;
  padding: 50px 0;
  width: 475px;
}

.subscribe-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form-container {
  min-width: 684px;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  margin-bottom: 50px;
}

.input-email {
  display: block;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 13px;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.input-submit {
  display: block;
  border: none;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  min-height: 52px;
  background-color: #82b3d3;
  margin: 0;
  padding: 8px auto;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-container {
  display: grid;
  grid-template-columns: 353px 353px 353px;
  min-height: 120px;
  width: 1060px;
  text-align: center;
}

.society {
}

.society-list,
.contacts,
.developer {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  flex-wrap: wrap;
}

.society-item {}

.society-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 46px;
  color: #83b3d3;
}

.society-link-icon {}

.society-link:hover,
.society-link:focus {
  color: #68a2ca;
}

.society-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
}

.phone-link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.developer {
}

.developer-link-icon {
}

.developer-logo-link {
  color: #000000;
}

.developer-logo-link:hover,
.developer-logo-link:focus {
  color: #4f4f4f;
}

.developer-logo-link:active {
  fill: #000000;
}
