@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}


body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2),
    -5px 0 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

/* Шапка */

.head-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: #ffffff;
  flex-wrap: nowrap;
  width: 1060px;
  justify-content: flex-start;
  position: relative;
  margin: 0 auto;
  padding-left: 168px;
  box-sizing: border-box;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-pic {
  display: block;
  width: 140px;
  height: 70px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  padding: 0;
  flex-wrap: wrap;
  min-height: 64px;
  gap: 32px;
  margin: 0;
  margin-left: 16px;
}

.nav-item {
  display: flex;
  margin-top: 21px;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav-link-active {
  position: relative;
}

.nav-link-active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  margin-bottom: -20px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  gap: 33px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  margin-bottom: 10px;
}

.nav-menu-link {
  display: block;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  margin-top: 19px;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #756157;
}

.nav-menu-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.search-icon-position {
  margin-right: -8px;
  margin-top: -2px;
}

.menu-link-icon {
  margin-top: 5px;
}

.favorit-meter {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #6c9e42;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px 2px 0 2px;
  box-sizing: border-box;
  position: absolute;
  top: -8px;
  left: 7px;
}

.menu-link {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #756157;
  padding: 8px;
  margin-top: 14px;
}

.menu-link:hover,
.menu-link:focus {
  background-color: #615048;
}

.menu-link:active {
  background-color: #e5e5e5;
}

/* Основной раздел */

.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  flex: 1 0 auto;
}

.hero-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.welcome {
  display: flex;
  width: 1200px;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  padding: 51px 0 81px 0;
  margin: 0 auto;
  background-color: #b3b3b3;
  position: relative;
  flex-wrap: wrap;
}

.welcome:after {
  display: block;
  content: "";
  background-image: url(../images/divider.png);
  width: 1200px;
  height: 56px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.hero-pic {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.advantages-head,
.description-head {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 70px 290px 25px 290px;
  box-sizing: border-box;

}

.advantages-head-text,
.description-head-text,
.booking-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  box-sizing: border-box;
}

.advantages-list {
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}

.advantages-item {
  display: block;
  min-height: 385px;
  width: 400px;
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.item-pic {
  grid-column: 1 / -1;
  display: flex;
}

.item-pic .advantages-container {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-head {
  display: block;
  width: 175px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 103px 0 31px 0;
  margin: 0 auto;
}

.after-none-pic {
  padding: 114px 0 30px 0;
}

.after-with-pic,
.after-none-pic {
  position: relative;
}

.after-with-pic::after,
.after-none-pic::after {
  content: "";
  width: 60px;
  height: 2px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 57px;
}

.after-none-pic::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-container {
  padding: 0px 85px 0px 85px;
}

.advantages-text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  padding: 31px 0;
  margin: 0 auto;
}

.advantages-pic {
  object-fit: cover;
  height: 100%;
}

.description {
  width: 100%;
  margin: 0 auto;
}

.description-head {
  padding: 64px 290px 20px 290px;
}

.description-head-text {
  margin-bottom: 64px;
}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.description-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #ffffff;
  list-style: none;
  padding-inline-start: 0;
}

.description-item {
  width: 400px;
  min-height: 385px;
  padding: 100px 80px 0 80px;
  text-align: center;
  box-sizing: border-box;
}

.background-house {
  background-image: url(../images/icons/icon-house.svg);
  background-position-x: center;
  background-position-y: 81px;
  background-repeat: no-repeat;
  margin: 0;
}

.background-burger {
  background-image: url(../images/icons/icon-burger.svg);
  background-position-x: center;
  background-position-y: 81px;
  background-repeat: no-repeat;
  margin: 0;
}

.background-gift {
  background-image: url(../images/icons/icon-gift.svg);
  background-position-x: center;
  background-position-y: 79px;
  background-repeat: no-repeat;
  margin: 0;
}

.description-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-item-head {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 84px;
  margin-bottom: 0px;
}

.description-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 11px 0 30px 0;
}

.booking {
  margin: 0 auto;
  padding: 96px 290px 96px 290px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.booking-head {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.booking-text {
  max-width: 592px;
  margin: 20px auto 54px auto;
  text-align: center;
}

.booking-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  width: 376px;
  min-height: 52px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  background-color: #756157;
  margin: 0 auto;
}

.search-link:hover,
.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  background-color: #e5e5e5;
}

/* Подвал */

.footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1200px;
  flex-wrap: wrap;
}

.subscribe,
.subscribe-background-none {
  display: flex;
  width: 100%;
  background-color: #756157;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.subscribe-background-none {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}


.subscribe-container {
  margin: 0 auto;
  padding: 50px 0;
  width: 475px;
}

.subscribe-head {
  display: block;
  margin: 46px 0 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form-container {
  min-width: 684px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  margin-bottom: 50px;
}

.input-email {
  display: block;
  border: none;
  outline: 0;
  border-radius: 4px 0 0 4px;
  width: 452px;
  min-height: 52px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 13px;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.input-email:hover,
.input-email:focus,
.input-email:active {
  box-shadow: 0 0 2px 2px #68a2ca;
}

.button-submit {
  display: block;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  background-color: #82b3d3;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: inherit;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #68a2ca;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

button-submit:disabled {
  background-color: #e5e5e5;
}

.footer-container {
  display: grid;
  grid-template-columns: 184px 720px 156px;
  min-height: 120px;
  width: 1060px;
  text-align: center;
}

.society {}

.society-list {
  display: flex;
  margin: 0 auto;
  margin-top: 44px;
  padding: 0;
  list-style: none;
}

.society-item {}

.society-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}


.youtube-link {
  width: 50px;
  margin-left: -1px;
  margin-top: 1px;
}

.society-link-icon {}

.society-link:hover,
.society-link:focus {
  color: #68a2ca;
}

.society-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  margin-top: 45px;
}

.phone-link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.developer {
  margin-top: 48px;
  text-align: right;
}

.developer-link-icon {}

.developer-logo-link {
  color: #000000;
}

.developer-logo-link:hover,
.developer-logo-link:focus {
  color: #756157;
}

.developer-logo-link:active {
  color: rgba(117, 97, 87, 0.3)
}

/* Стили для каталога */

.catalog-h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filter {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 30px;
}
